<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background-color:df0000;">
                <div class="container">
                    <h1 class="display-4">Mini FrameWork - FramePHP</h1>
                    <p class="lead">Um mini framework desenvolvido para criação de pequenos sistemas, para agilizar o processo de criação de sistes e
                        aplicações web.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

